@model MoonDataViewModel


<div class="content-wrapper">
    <div class="moon-container">
        <h1>Today's Moon</h1>
        <img src="@Model.MoonImgUrl" alt="Moon Phase Image" class="moon-image">
        <div class="moon-data">
            <p>Moon Phase: <span>@Model.MoonPhase</span></p>
            <p>Moonrise: <span>@Model.Moonrise</span></p>
            <p>Moonset: <span>@Model.Moonset</span></p>
            <p>Moon Illumination: <span>@Model.MoonIllumination</span></p>
        </div>
    </div>
</div>

